body {
    background-color: #F5F5F5;
    color: #404040;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
}

.body-login{
    background-color: #000 !important;
}

a {
    color: #333;
}

h1 small {
    font-size: 12px;
}

.topbar {
    background: none repeat scroll 0 0 #000000;
    border-bottom: 6px solid #333;
    height: 40px;
    left: 0;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.topbar-inner, .topbar .fill {
    background-color: #010707;
    background-repeat: repeat-x;
   margin: auto;
   /* width: 960px;*/
}

.topbar div > ul, .nav {
    display: block;
    left: 0;
    margin: 0 10px 0 0;
    position: relative;
}

.topbar a {
    color: #fff;
}

.container {
    background-color: #F5F5F5;
    font-size: 12px;
    padding-bottom: 50px;
    width: 100%;
}


.topbar-inner, .topbar .fill .container {
    background: none repeat scroll 0 0 #000000;
	padding-bottom:0;
}

.topbar div > ul, .nav {
    display: block;
    left: 0;
    margin: 0;
    position: relative;
}

.topbar div > ul a, .nav a {
    display: block;
    float: none;
    padding: 10px 10px 11px;
    text-decoration: none;
}
.topbar div > ul a:hover, .nav a:hover {
    background: none repeat scroll 0 0 #333;
    color: #FFFFFF;
    text-decoration: none !important;
}
.topbar div > ul .active > a, .nav .active > a {
    background-color: #333;
}


.container > .content {
    background-color: #F5F5F5;
	border-radius: 0 0 0 0;
	-webkit-border-radius: 0 0 0 0;
	-moz-border-radius: 0 0 0 0;
    box-shadow: none;
    margin: 20px auto !important;
    padding: 0;
    /*width: 920px;*/
	width: 97%;
}

.page-header {
    background-color: #F2F2F2;
    margin-bottom: 20px;
    padding: 7px 12px 0;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
}

.page-header h1 {
  margin-bottom: 8px;
}

.row {
    margin-left: -20px;
    margin-right: 0;
    margin-top: 0;
    /*width: 920px;*/
	width:100%;
}

h1, h2, h3, h4, h5, h6 {
    color: ##0faad6;
}

.foot {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #999999;
    position: fixed;
    text-align: center;
    width: 100%;
}

.foot  p {
	font-size:11px;
}


.span_full {
	width:100%;
}


.pub {
    color: #333;
}


/* login  */

.pg-main {
    background: none repeat scroll 0 0 #000000;
    height: 59px;
    margin-top: -40px;
}

.entries {
    background: none repeat scroll 0 0 red;
    margin: auto;
    width: 275px;
}

#login-logo {
    background: none repeat scroll 0 0 #000000;
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
	margin-top: 45px;
}

#login-logo h3 {
    color: #666;
    float: right;
    font-size: 16px;
    font-weight: normal;
}


#form_login {
    background: none repeat scroll 0 0 #000000;
    left: 0;
    margin: 15px auto;
    padding: 0;
    position: absolute;
    width: 100%;
}

#login {
    background: none repeat scroll 0 0 #121212;
    border: 1px solid #222222;
    margin: auto;
    overflow: hidden;
    padding-bottom: 15px;
    width: 270px;
	/*margin-top:50px;*/
	margin-top:0px;
}

#form_login ul {
    margin: 0;
    padding: 0;
}

#form_login li {
    color: #999999;
    line-height: 20px;
    margin: 10px 25px;
}

#form_login h3 {
    background: none repeat scroll 0 0 #121212;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    margin: -11px -26px 0;
    text-align: center;
    text-transform: uppercase;
}

#form_login input {
}

.butlogin {
  background-color: #333;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#999), to(#333));
  background-image: -moz-linear-gradient(top, #999, #333);
  background-image: -ms-linear-gradient(top, #999, #333);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #999), color-stop(100%, #333));
  background-image: -webkit-linear-gradient(top, #999, #333);
  background-image: -o-linear-gradient(top, #999, #333);
  background-image: linear-gradient(top, #999, #333);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#999', endColorstr='#333', GradientType=0);
  color: #ffffff;
  border: 1px solid #333;
  border-radius: 5px;
  width:80px !important;
}

.panel-down{
	border-top: 1px solid #DDDDDD;
	float: left;
    padding-top: 10px;
	width: 100%;
}

.panel-up{
	border-bottom: 1px solid #DDDDDD;
    float: left;
	margin-bottom: 15px;
	padding-bottom: 10px;
    width: 100%;
}

.clear{
	clear:both;
}




.navbar-inner:after {
    clear: both;
}
.navbar-inner:before, .navbar-inner:after {
    content: "";
    display: table;
    line-height: 0;
}
.navbar-inner:before, .navbar-inner:after {
    content: "";
    display: table;
    line-height: 0;
}
.navbar-inner {
    background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);*/
    min-height: 40px;
    padding: 10px 20px;
}


.navbar-content:after {
    clear: both;
}
.navbar-content:before, .navbar-content:after {
    content: "";
    display: table;
    line-height: 0;
}
.navbar-content:before, .navbar-content:after {
    content: "";
    display: table;
    line-height: 0;
}
.navbar-content {
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    /*box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);*/
    min-height: 40px;
    padding: 10px 20px;
}

#search table td{
	border-top:none;
}

/*pagination*/
.pagination-right {
    float: right;
	margin-right:-14px;
}

.pagination-left {
    float: left;
}

.pagination {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}


.pagination a:hover {
    background-color: #EEE;
    color: #999999;
    cursor:pointer
}
.pagination a, .pagination strong{
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
	border-width: 1px 1px 1px 1px;
    float: left;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
}

.pagination strong{
	background-color: #999999;
    color: #FFFFFF
}

.prev a{
	border-left-width: 1px;
}

.next a{
	
}


/* icon */
.icon-home {
    background-position: 0 -24px !important;
}

.icon-star {
    background-position: -120px 0 !important;
}

.icon-plus {
    background-position: -408px -96px !important;
}

.icon-trash {
  background-position: -456px 0  !important;
}

.icon-ok {
  background-position: -288px 0 !important;
}

.icon-file {
    background-position: -24px -24px !important;
}

.icon-arrow-right {
    background-position: -264px -96px !important;
}


[class^="icon-"], [class*=" icon-"] {
    background-image: url("../../images/admin_images/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
   /* margin-top: 1px;
    vertical-align: text-top;*/
    width: 14px;
}

.breadchumb-active{
	background: none repeat scroll 0 0 #BABABA;
	border: 1px solid #AAA;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
}

.breadchumb{
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #DEDEDE;
    border-radius: 4px 4px 4px 4px;
    padding: 4px;
}

.perpage{
	padding:3px;
	width:25px;
	margin-right:15px;
	text-align:center;
}





/*  ========================  */
/*	====  tambahan yoyo ====  */
/*  ========================  */


#breadcrumb
{
    font: 11px Arial, Helvetica, sans-serif;
    background-image:url('../../images/admin_images/bc_bg.png'); 
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin: 0 0 20px;
    padding:0px;
}
#breadcrumb li 
{
    list-style-type:none;
    float:left;
    padding-left:10px;
}
#breadcrumb span {
    display: inline-block;
    margin-top: 6px;
	color:#666;
}

#breadcrumb a ,
#breadcrumb a span {
    color: #047B9D;
}

#breadcrumb a {
    background-image: url("../../images/admin_images/bc_separator.png");
    background-position: right center;
    background-repeat: no-repeat;
    display: block;
    height: 30px;
    padding-right: 15px;
    text-decoration: none;
}

#breadcrumb .home
{
    border:none;
    margin: 8px 0px;
}

#breadcrumb a:hover
{
	color:#DA7C0C;
	text-decoration:underline;
}

.icon-home {
    background-image: url("../../images/admin_images/glyphicons-halflings.png") !important;
    background-position: 9px -16px !important;
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    line-height: 14px;
    margin: 0 !important;
    width: 30px;
}

html, body , .slimScrollDiv , #testrailvisible {
    height: 100% !important;
}

form {
    margin-bottom: 30px;
}

a {
    outline: none !important;
}


/*	tambahan 15 januari */



.topbar {
    /*background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;*/
	background: #EDEDED ;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED)) ;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EDEDED) ;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED');

    border-bottom: 1px solid #CCCCCC;
    border-top: 4px solid #047B9D;
    height: 47px;
    left: 0;
    overflow: visible;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.foot {
    /*background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;*/
	background: #EDEDED ;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED)) ;
	background: -moz-linear-gradient(top,  #FFFFFF,  #EDEDED) ;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED');


    border-bottom: 4px solid #047B9D;
    border-top: 1px solid #CCCCCC;
    bottom: 0;
    color: #999999;
    height: 23px;
    padding: 10px 0;
    position: fixed;
    text-align: center;
    top: auto;
    width: 100%;
}


.topbar-inner, .topbar .fill ,
.topbar-inner, .topbar .fill .container {
    background-color: transparent;
	padding-left: 10px;
    padding-right: 30px;
    /*width: 920px;*/
}

.topbar div > ul a, .nav a {

	background: #047B9D ;
	background: -webkit-gradient(linear, left top, left bottom, from(#3FC1E6), to(#047B9D)) ;
	background: -moz-linear-gradient(top,  #3FC1E6,  #047B9D) ;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FC1E6', endColorstr='#047B9D');

	z-index:999;
    color: #FFFFFF;
    display: block;
    float: none;
    margin: 8px 0;
    padding: 5px 12px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
	border-top:1px solid #3FC1E6;
    border-right: 1px solid #25B3DB;
	border-bottom:1px solid #01638C;
    border-left: 1px solid #047B9D;
	  
}


.topbar div > ul .active > a, .nav .active > a {
	color:#FFFFFF !important; 
}

.topbar div > ul a:hover, .nav a:hover {
    /*background: -moz-linear-gradient(center top , #666666, #333333) repeat scroll 0 0 transparent !important;*/
	background: #333333 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) !important;
	background: -moz-linear-gradient(top,  #666666,  #333333) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333') !important;


    color: #FFFFFF !important;
    text-decoration: none !important;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}


.foot p {
    color: #333333;
    font-size: 11px;
    /*text-shadow: 1px 1px #FFFFFF;*/
}

.topbar div > ul .menu-dropdown, .nav .menu-dropdown, .topbar div > ul .dropdown-menu, .nav .dropdown-menu {
    background-color: #555555;
    margin-top: -1px;
    padding: 0;
}

.menu-dropdown, .dropdown-menu {
    background-clip: padding-box;
    background-color: #FFFFFF;
    border-color: rgba(0, 0, 0, 0.2);
    border-radius: 0;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    margin-left: 0;
    margin-right: 0;
    max-width: 220px;
    min-width: 160px;
    padding: 6px 0;
    position: absolute;
    top: 40px;
    z-index: 900;
}

.menu-dropdown li, .dropdown-menu li {
    display: block;
    float: none;
    position: relative;
}

.topbar div > ul .menu-dropdown li a, .nav .menu-dropdown li a, .topbar div > ul .dropdown-menu li a, .nav .dropdown-menu li a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    box-shadow: none;
    color: #CCCCCC;
    font-size: 11px;
    margin: 0;
    padding: 6px 12px;
    text-shadow: 1px 1px #000000;
}

.menu-dropdown .divider, .dropdown-menu .divider {
    background-color: #000000;
    border-bottom: 1px solid #888888 !important;
    height: 1px;
    margin: 0;
    overflow: hidden;
}

li.open .dropdown-toggle ,
ul#menu.dropdown-menu li:hover a {
    /*background: -moz-linear-gradient(center top , #666666, #333333) repeat scroll 0 0 transparent !important;*/
	background: #333333 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) !important;
	background: -moz-linear-gradient(top,  #666666,  #333333) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333') !important;


    color: #FFFFFF !important;
    text-decoration: none !important;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}

ul#menu.dropdown-menu li:hover a {
	border:none !important;
}

ul#menu.dropdown-menu li:hover ul {
	margin-left:-2px;
}

ul#menu.dropdown-menu li:hover ul a {
	background: none transparent !important;
    padding: 7px;
}



ul#menu.dropdown-menu li:hover ul a:hover {
	/*background: -moz-linear-gradient(center top , #666666, #333333) repeat scroll 0 0 transparent !important;*/
	
	background: #333333 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) !important;
	background: -moz-linear-gradient(top,  #666666,  #333333) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333') !important;
}

ul.user li a.dropdown-toggle {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #047B9D !important;
    font-weight: bold;
    outline: medium none;
    text-align: center;
    text-decoration: underline;
    text-shadow: 1px 1px #FFFFFF;
    vertical-align: baseline;
}

ul.user li a.dropdown-toggle:after {
    border-top: 4px solid #047B9D;
}

ul.user li a.dropdown-toggle:hover {
    background: transparent !important;
}

ul.user li.open a.dropdown-toggle, ul.user li.open a.dropdown-toggle:hover {
    background: url("../../images/admin_images/arrow_dropdown.png") no-repeat scroll 10px 21px transparent !important;
    height: 21px;
    position: relative;
    z-index: 999;
}


ul.user li.open ul#menu.dropdown-menu li a {
    color: #047B9D !important;
    text-shadow: none;
    margin: 0;
    padding: 5px 10px;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #ffffff;
}

.topbar div > ul.user .menu-dropdown, 
.topbar div > ul.user .dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    margin-top: -2px;
    padding: 0;
    width: 170px !important;
}

ul.user li.open ul#menu.dropdown-menu li:hover a {
    background: #f5f5f5 !important;
    border-bottom: 1px solid #ccc !important;
    border-top: 1px solid #fff !important;
}







.btn {
    /*background: -moz-linear-gradient(center top , #444444, #000000) repeat scroll 0 0 transparent !important;*/
	background: #000000 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#000000)) !important;
	background: -moz-linear-gradient(top,  #444444,  #000000) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000') !important;


    border: 1px solid #333333 !important;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #D7D7D7 !important;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    padding: 8px 30px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3) !important;
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
}

.btn:hover {
    /*background: -moz-linear-gradient(center top , #666666, #000000) repeat scroll 0 0 transparent !important;*/
	background: #000000 !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#000000)) !important;
	background: -moz-linear-gradient(top,  #666666,  #000000) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000') !important;


    color: #ffffff !important;
    text-decoration: none;
}



.ui-multiselect {
    border-radius: 4px 4px 4px 4px !important;
    font-weight: normal !important;
    padding: 8px !important;
   /* width: 220px !important; */
   width: 435px !important;
}

.ui-state-hover a, .ui-state-hover a:hover, .ui-state-hover a:link, .ui-state-hover a:visited {
    color: #FFFFFF;
    text-decoration: none;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus,
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
    background: url("../../images/ui-bg_inset-soft_30_f58400_1x100.png") repeat-x scroll 50% 50% #F58400 !important;
    border: 1px solid #FFAF0F !important;
    color: #FFFFFF;
    font-weight: bold;
}

.ui-multiselect-single .ui-multiselect-checkboxes label ,
.ui-multiselect-single .ui-multiselect-checkboxes label:hover {
    color: #FFFFFF !important;
	font-weight:normal !important;
	cursor:pointer;
}

.ui-multiselect-header ul li {
    color: #999999 !important;
}

.ui-state-active .ui-icon {
    background-image: url("../../images/admin_images/ui-icons_ffffff_256x240.png") !important;
}




.table-color {
	margin-bottom:0;
}


#form_list .navigation input {
	float:left;
}

#form_list .navigation .btn {
    /*background: -moz-linear-gradient(center top , #FFFFFF, #DCDCDC) repeat scroll 0 0 transparent !important;*/
	
	background: #DCDCDC !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DCDCDC)) !important;
	background: -moz-linear-gradient(top,  #FFFFFF,  #DCDCDC) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DCDCDC') !important;

    border: 1px solid #CCCCCC !important;
    border-radius: 4px 4px 4px 4px;
    color: #D7D7D7 !important;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 12px;
    font-weight: normal;
    line-height: normal;
    margin-right: 5px;
    padding: 5px;
    text-transform: uppercase;
    transition: all 0.1s linear 0s;
	box-shadow:none;
}

#form_list .navigation .btn:hover {
    /*background: -moz-linear-gradient(center top , #dedede, #cccccc) repeat scroll 0 0 transparent !important;*/

	background: #cccccc !important ;
	background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#cccccc)) !important ;
	background: -moz-linear-gradient(top,  #dedede,  #cccccc) !important ;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#dedede', endColorstr='#cccccc') !important;
}

.pagination strong {
    /*background: -moz-linear-gradient(center top , #F5F5F5, #DEDEDE) repeat scroll 0 0 transparent !important;*/
	
	background: #4B4B4B !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4B4B4B)) !important;
	background: -moz-linear-gradient(top,  #757575,  #4B4B4B) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4B4B4B') !important;

    border: 1px solid #333;
    color: #FFFFFF;
}

.close {
    /*background: -moz-linear-gradient(center top , #757575, #4B4B4B) repeat scroll 0 0 transparent;*/
	background: #4B4B4B;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4B4B4B));
	background: -moz-linear-gradient(top,  #757575,  #4B4B4B);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4B4B4B');


    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: right;
    font-size: 20px;
    font-weight: bold;
    height: 30px;
    line-height: 0;
    margin: 5px 0;
    opacity: 1;
    padding: 10px 10px 14px;
    text-shadow: -1px -1px #000000;
}

.close:hover {
    /*background: -moz-linear-gradient(center top , #000, #333) repeat scroll 0 0 transparent;*/
	
	
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#333));
	background: -moz-linear-gradient(top,  #000,  #333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000', endColorstr='#333');



    opacity: 1;
    color: #FFFFFF;
}




.ui-tooltip {
	background:#333 !important;
}


/*	login  */

body.body-login {
	background:url("../../images/admin_images/body.gif") repeat fixed 0 0 #DDDDDD !important;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    margin: 0 !important;
    padding: 0 !important;
}

.body-login .foot {
    background: none repeat scroll 0 0 transparent;
	border:none;
}

.body-login .foot p {
}


.pg-main.loginwrapper {
    background: none repeat scroll 0 0 transparent;
    height: auto;
    margin: 100px auto auto;
    width: 400px;
	position:relative;
}

#form_login {
    /*background: -moz-linear-gradient(center top , #EDEDED, #FFFFFF) repeat scroll 0 0 transparent;*/
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#FFFFFF));
	background: -moz-linear-gradient(top,  #EDEDED,  #FFFFFF);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#FFFFFF');
	
    border: 1px solid #B7B7B7;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    height: auto;
    margin: auto;
    padding: 20px !important;
    position: relative;
    text-align: center;
    text-shadow: 1px 1px #FFFFFF;
    text-transform: uppercase;
    width: 260px;
    z-index: 15;
}

#form_login h1 {
    margin-bottom: 0;
    text-shadow: 1px 1px #FFFFFF;
}


.styleborder {
    /*background: -moz-linear-gradient(center top , #FAA51A, #F47A20) repeat scroll 0 0 transparent;*/
	
	background: #f47a20;
	background: -webkit-gradient(linear, left top, left bottom, from(#3FC1E6), to(#047B9D));
	background: -moz-linear-gradient(top,  #3FC1E6,  #047B9D);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FC1E6', endColorstr='#047B9D');


    border: 1px solid #FFFFFF !important;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px #909193 inset, 0 1px 0 #FFFFFF !important;
    color: #FFFFFF;
    display: block;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    height: 150px;
    margin-top: 20px;
    padding: 20px 0;
    position: relative;
    width: auto;
}

#form_login input {
    border: 1px solid #066E8C;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    color: #CCCCCC;
    font-size: 16px;
    padding: 12px 10px 12px 35px;
    width: 183px;
}

#form_login .text,
#form_login .text.pass {
    background-image: url("../../images/admin_images/ico_login.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
}
#form_login .pass {
    background-position: 10px -27px !important;
}

#form_login .text:focus {
    border-color: #000000;
    color: #000000;
}
#form_login .text:hover {
    border-color: #999999;
    color: #000000;
}
#form_login .submit {
    /*background: -moz-linear-gradient(-90deg, #656565, #141414) repeat scroll 0 0 transparent;*/
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');


    border: 1px solid #000000;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: normal;
    margin: auto;
    padding: 0.5em 2.5em;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    text-transform: uppercase;
    width: 230px !important;
}

#form_login .submit:hover {
    /*background: -moz-linear-gradient(-90deg, #141414, #656565) repeat scroll 0 0 transparent;*/
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#656565), to(#141414));
	background: -moz-linear-gradient(top,  #656565,  #141414);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#656565', endColorstr='#141414');

    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
}

.err {
    background-color: antiquewhite;
    background-image: url("../../images/admin_images/error.png");
    background-position: 7px 7px;
    background-repeat: no-repeat;
    border-radius: 6px 6px 6px 6px;
    font-weight: bold;
    left: 50px;
    margin: auto;
    position: absolute;
    top: -70px;
    width: 300px;
}

.err span {
    display: block;
    margin: 14px 15px 14px 45px;
}

#search_box {
    background: none repeat scroll 0 0 #dbf0f6;
    border: 1px solid #CCCCCC;
    margin-top: 20px;
    padding: 15px 20px;
}   

.row .alert-message a {
    font-weight: normal;
    height: 8px;
    line-height: 14px !important;
    margin: -1px -8px -8px !important;
}

.row .alert-message a.close {
    background: none repeat-x scroll 0 0 darkred;
    color: #FFFFFF;
}

.center{
	text-align:center;
}

.order{
	background:#F5F5F5;
}


/* dashboard */
.contentdashboard {
}

.contentdashboard {
    display: block;
    margin: auto;
    width: auto;
}

.row {
    margin-left: 0;
}

#rightnow {
    margin: 15px 0;
    padding: 10px 2%;
    width: 96%;
}

#rightnow {
	background-color: #FAFAFA;
    background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
    background-repeat: repeat-x;
    border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

#infowrap  {
	background:#F2F2F2;
	border: 1px solid #D4D4D4;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
	margin-bottom:40px;
}


#infobox-full {
    background: none repeat scroll 0 0 #fff;
    margin: 15px 1%;
    padding: 1%;
    width: 96%;
	height: 350px;
}

#infobox-full table th, #infobox-full table td {
    line-height: 18px;
    padding: 5px;
}

#infobox-full table th {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 2px solid #CCCCCC;
    font-weight: bold;
    padding-top: 9px;
    vertical-align: middle;
}

#infobox-full h3 {
    background: none repeat scroll 0 0 #333333;
    border-bottom: 2px solid #CCCCCC;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

#infobox-full a img {
    margin: 0 5px;
}


#infobox {
    background: none repeat scroll 0 0 #fff;
    float: left;
    margin: 15px 1%;
    padding: 1%;
    width: 46%;
	height: 250px;
}

#infobox table th, #infobox table td {
    line-height: 18px;
    padding: 5px;
}

#infobox table th {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 2px solid #CCCCCC;
    font-weight: bold;
    padding-top: 9px;
    vertical-align: middle;
}

#infobox h3 {
    background: none repeat scroll 0 0 #333333;
    border-bottom: 2px solid #CCCCCC;
    color: #FFFFFF;
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
}

#infobox a img {
    margin: 0 5px;
}

/* end dashboard */


.chzn-container {
	height:auto !important;
}

.chzn-container-active .chzn-choices {
    border: 1px solid #DA7C0C !important;
}

.chzn-container .chzn-results li {
	color:#047B9D !important;
}

.chzn-container .chzn-results .highlighted {
	background: #047B9D !important;
	background: -webkit-gradient(linear, left top, left bottom, from(#3FC1E6), to(#047B9D)) !important;
	background: -moz-linear-gradient(top,  #3FC1E6,  #047B9D) !important;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#3FC1E6', endColorstr='#047B9D') !important;
	color:#fff !important;
}

.chzn-container-single .chzn-search input {
   /* padding: 10px !important;*/
}